@use "../abstracts/variables" as v;

.scroll-to-top {
    position: fixed;
    bottom: 3vh;
    right: clamp(2.2rem, 6vw, 4rem);
    cursor: pointer;
    background-color: v.$accent-color;
    border:2px solid v.$accent-color;
    color: v.$white-color;
    line-height: 1.5rem;
    font-size: 1.25rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    z-index: 9999;
    transition: all 0.35s linear;

    &:hover {
        opacity:0.8;
    }
}
