@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.heading{
    @include m.section-margin();
    &__title{
        margin-bottom:clamp(0.2rem, 1vw, 2.2rem);
        margin-top:1.6rem;
        margin-bottom:clamp(0.8rem, 1.5vw, 2.3rem);
        @include m.font(2rem, 4vw, 6.4rem, 300);
    }
    &__subtitle{
        width:fit-content;
        border-radius: 0.7rem;
        background-color: v.$button-color;
        @include m.clamp-padding(0.2rem, 1vw, 0.8rem, 
                                0.8rem, 1.5vw, 2.6rem,
                                0.2rem, 0.5vw, 1.2rem,
                                0.8rem, 1.5vw, 2.7rem);
        
        @include m.font(1.1rem, 1.2vw, 2.1rem, 500, v.$accent-color);
        @include m.media(1200px) {
            padding:0.8rem 2.6rem 1.2rem 2.7rem;
            width:fit-content;
        }
    }
    &__text{
        margin-bottom:clamp(3rem, 6vw, 10.1rem);
        @include m.font(1.1rem, 1.2vw, 1.8rem, 300, v.$secondary-font-color);
    }
}
.heading-first{
    margin-top:clamp(5rem, 10vw, 16.6rem);
}