@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.slider-middle{
    margin-top:clamp(3rem, 6vw, 10.4rem);
    &__overlay{
        right: clamp(10rem, 5vw, 30rem);
        @include m.clamp-t-l(4rem, 12vw, 16.2rem, 1.8rem, 4.5vw, 6.9rem);
       
    }
    &__title{
        @include m.font(1rem, 2.5vw, 3.5rem, 400);
        @include m.media(480px) {
            @include m.font(1rem, 3.5vw, 4.2rem, 400);
        }
        
    }
    &__subtitle{
        top:0;
        margin-top:clamp(0.4rem, 1vw, 2.2rem);
        width:clamp(10rem, 10vw, 20rem);
        @include m.font(0.6rem, 1.1vw, 1.8rem, 400);
        @include m.media(480px) {
            width:clamp(15rem, 30vw, 42rem);
            @include m.font(0.8rem, 1.5vw, 2.2rem, 400);
        }
    }
    &__image{
        display:block;
        width:100%;
        height:auto;
    }
}