@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.info-icons{
    @include m.section-margin();
    &__single{
        height:clamp(20rem, 30vw, 40rem);
        position:relative;
        @include m.media(768px) {
            height:clamp(25rem, 30vw, 40rem);
            margin-bottom: 2rem;
            &::after{
                content: "";
                position: absolute;
                bottom: 0; 
                left: 0; 
                width: 80%; 
                height: 1.5px; 
                background-color: v.$border-color;
                opacity: 0.75;            }
        }
    }
    &__image{
        aspect-ratio: 1 / 1;
        width: clamp(6rem, 10vw, 10rem);

    }
    &__title{
        min-height: 1rem;
        @include m.font(1.2rem, 3vw, 2.8rem, 500);
        @include m.media(768px) {
            min-height: 4rem;
            @include m.font(1.2rem, 1.8vw, 2.8rem, 500);
        }
    }
    &__text{
        max-width:88%;
        @include m.font(1.1rem, 1.2vw, 1.8rem, 300, v.$secondary-font-color); 
        @include m.media(480px) {
            @include m.font(1.3rem, 1.2vw, 1.8rem, 300, v.$secondary-font-color); 
        }
    }
}