@use "variables" as v;

@mixin section-margin($min: 3rem, $preferred: 6vw, $max: 10.7rem) {
    margin-top:clamp($min, $preferred, $max);
}

@mixin font($min, $preferred, $max, $weight, $color: v.$primary-font-color) {
    font-size: clamp($min, $preferred, $max);
    font-weight: $weight;
    color: $color;
}

@mixin clamp-t-l($top-min, $top-vw, $top-max, $left-min, $left-vw, $left-max) {
    top: clamp($top-min, $top-vw, $top-max);
    left: clamp($left-min, $left-vw, $left-max);
  }

  @mixin clamp-b-l($bottom-min, $bottom-vw, $bottom-max, $left-min, $left-vw, $left-max) {
    bottom: clamp($bottom-min, calc(#{$bottom-vw}), $bottom-max);
    left: clamp($left-min, calc(#{$left-vw}), $left-max);
}

@mixin clamp-padding($min-top, $vw-top, $max-top, 
                    $min-right, $vw-right, $max-right,
                    $min-bottom, $vw-bottom, $max-bottom,
                    $min-left, $vw-left, $max-left,) {
    padding-top: clamp($min-top, $vw-top, $max-top);
    padding-right: clamp($min-right, $vw-right, $max-right);
    padding-bottom: clamp($min-bottom, $vw-bottom, $max-bottom);
    padding-left: clamp($min-left, $vw-left, $max-left);
  }

@mixin media($min-width) {
    @media (min-width: $min-width) {
      @content;
    }
  }