@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #0F7F25;
$secondary-color: #000000;
$accent-color: #F38122;
$button-color:#FFF4EB;
$font-family: 'Roboto', sans-serif;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

$primary-font-color:$primary-color;
$secondary-font-color:$secondary-color;